@model CustomAuth.Models.LoginVeiwModel

@{
    ViewData["Title"] = "Login";
}

<head>
    <style>
        body {
            background-color: rgb(141, 180, 222);
        }
    </style>
</head>

<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Login" class="border p-4 rounded shadow" style="background-color:aliceblue;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsernameOrEmail" class="control-label"></label>
                    <input asp-for="UsernameOrEmail" class="form-control" />
                    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                </div>
            </form>
            <div class="text-center mt-3">
                Don't have an account? <a asp-action="Registration">Back to Registration</a>
            </div>
            <!--External Login-->
            <div class="text-center mt-4">
                <h4>Or Login with:</h4>
                <a asp-action="ExternalLogin" class="btn btn-success mx-1">
                    <i class="bi bi-google">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                        </svg>
                        Google
                </a>
                </a>
                <a asp-controller="ExternalLogin" asp-action="MicrosoftLogin" class="btn btn-primary mx-1">
                    <i class="bi bi-microsoft">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
                            <path d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z" />
                        </svg>
                        Microsoft
                </a>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}